body {
    -webkit-font-smoothing: antialiased;
}

::selection {
    background: #3597db;
    color: #fff; /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #3597db; /* Gecko Browsers */
    color: #fff;
}

body.red .services .icon-box:hover::before {
    background-color: #F50057;
}

/* About Section */
#about .process {
    margin-top: 50px;
    margin-bottom: 20px;

    & img {
        max-width: 100%;
        max-height: 100px;
    }

    & .process-step {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* Count Section */
#counts {
    overflow: initial;

    & .count-img {
        transition: .4s ease-in-out;

        &:hover {
            margin-bottom: 15px;
            margin-top: -15px;
        }
    }
}

/* Contact Section */
#contact {
    padding: 60px 0 20px 0;

    & .contact-about img {
        height: 25px;
    }
}

/* Intro Section */
#intro {
    padding: 60px 0 120px 0;

    & .btn-watch-video {
        font-family: 'Comfortaa', cursive;
        font-size: 14px;
        padding-left: 10px;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        & i {
            padding-right: 4px;
        }
    }
}

/* Cookie bar */
.cookie-consent {
    color: #444444;
    background-color: #f3f9fd;
    padding: 0.8em 1.8em;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cookie-consent button {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 50px;
    transition: 0.3s;
    line-height: 1;
    border: 2px solid #3498db;
    cursor: pointer;
    background: #3498db;
    color: #fff;

    &:hover {
        background: transparent;
        color: #3498db;
    }
}

/* Client Carouse */
.owl-stage {
    display: flex;
    align-items: center;
}

/* Messenger */
.fb_dialog_content iframe{
    bottom: 70px !important;
}

