@media (max-width: 1366px) {

}

@media (max-width: 1025px) {

    .vbox-content {
        padding: 25px 15%;
    }

    #intro {
        height: 90vh;
        padding: 0;
    }
}

/*
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {


}

/*
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {


}

/*
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {


}

/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/
@media (max-width: 767px) {

}

/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (max-width: 420px) {

    #contact .info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #contact .info > div {
        display: inline-block;
    }

    .cookie-consent {
        padding: 15px;
    }

    .cookie-consent span {
        font-size: 12px;
        padding-right: 8px;
    }

    .cookie-consent button {
        font-family: "Comfortaa", sans-serif;
        font-size: 12px;
    }

    .section-title h2 {
        font-size: 28px;
    }

    .mobile-nav-toggle {
        right: 0.2rem;
        top: 22px;
    }

    #intro h1,
    #intro .subtitle {
        text-align: center;
    }
}
