.popup-container{
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
}

.popup {
    margin: 30px auto;
    text-align: center;
    padding: 35px;
    background-color: #fff;
    border-radius: 5px;
    width: 60%;
    position: relative;
    transition: all 5s ease-in-out;
    opacity: 1;
}

.popup h2 {
    margin-top: 0;
    color: #3498db;
    letter-spacing: 2px;
}

.popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    transition: 0.4s;
    font-size: 30px;
    line-height: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #3498db;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
    color: #555555;
    margin: 10px 0;
}

.popup .popup-image {
    max-width: 80%;
    margin: 25px 0;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }
    .popup {
        width: 70%;
    }
}
